.iconDiv {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconDiv:hover {
  background-color: rgba(240, 248, 255, 0.031);
}

.iconText {
  font-size: small;
  user-select: none;
}
